@keyframes back-and-forth {
    0% {
        left: 0%;
    }
    50% {
        left:90%; /* it's important for the objects not to reach the windows width, so it's set to a 90%
                     just for this approach, although it may not work for all screen sizes */
    }
    100% {
        left:0%;
    }
}

:root {
    --main-bg-color-1: #364C51;
    --main-bg-color-2: #9CB76F;
    --main-rectangle-color-1: #70D2B7;
    --main-rectangle-color-2: #FCEFBA;
    --main-rectangle-width: 60px;
    --main-rectangle-height: 15px;
}

.striped {
    background: repeating-linear-gradient(
        to right,
        var(--main-bg-color-1),
        var(--main-bg-color-1) 20px,
        var(--main-bg-color-2) 20px,
        var(--main-bg-color-2) 40px
    );
}

.object-container {
    width: 100%;
    height: 400px;
}

.rectangle-1 {
    top:150px;
    width: var(--main-rectangle-width);
    height: var(--main-rectangle-height);
    background-color: var(--main-rectangle-color-1);
    position: absolute;
    animation-name: back-and-forth;
    animation-duration: 4s;
    animation-timing-function:ease-in-out;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

.rectangle-2 {
    top:250px;
    width: var(--main-rectangle-width);
    height: var(--main-rectangle-height);
    background-color: var(--main-rectangle-color-2);
    position: absolute;
    animation-name: back-and-forth;
    animation-duration: 4s;
    animation-timing-function:ease-in-out;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-delay: 0.1s;
}

.gui-component {
    position: absolute;
    background-color: 'royalblue';
}